@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');


*{
    -fx-font-family: 'IBM Plex Mono', monospace !important;
}

.button{
    -fx-background-color:  #CECECE!important;
    -fx-text-fill:  #585858;
    -fx-font-family: 'IBM Plex Mono', monospace !important;
    -fx-border-color: rgba(88,88,88,0.5)!important;
    -fx-border-width: 1px 1px 1px 1px!important;
    -fx-border-radius: 2.5px!important;

}
#box{
    -fx-background-color:  #DEDEDE!important;
    -fx-text-fill:  #585858;
    -fx-font-family: 'IBM Plex Mono', monospace !important;
    -fx-border-color: rgba(88,88,88,0.5)!important;
    -fx-border-width: 1px 1px 1px 1px!important;
    -fx-border-radius: 2.5px!important;
}

.button:hover{
    -fx-cursor: hand;
}

.label{
    -fx-text-fill:  #585858;
    -fx-font-family: 'IBM Plex Mono', monospace !important;
}

.slider .thumb{-fx-background-color: #9ea3b0!important;}

#imagePane{
    -fx-border-color: rgba(88,88,88,0.5)!important;
    -fx-border-width: 1px 1px 1px 1px!important;
    -fx-border-radius: 2.5px!important;
    -fx-background-color:  #EDEDED!important;
}
#background{
    -fx-background-color:  rgba(188,121,113,0.2)!important;/*#FBD2D7!important;*/
}
.menu .label{
    -fx-text-fill:  #585858!important;
    -fx-font-family: 'IBM Plex Mono', monospace !important;
}
.menu:hover{
    -fx-background-color: #546a7b!important;
}



.menu-item .label{
    -fx-text-fill:  #585858!important;
    -fx-font-family: 'IBM Plex Mono', monospace !important;
}
.menu-item:hover{
    -fx-background-color: #546a7b!important;
}
.menu-item:hover .label{
    -fx-text-fill:  #DEDEDE!important;
}
.hyperlink{
    -fx-text-fill: #546a7b!important;
    -fx-label-padding: 0;
    -fx-border-style: dashed;
    -fx-border-color: #546a7b;
    -fx-border-insets: 1;
    -fx-border-width: 1;
    -fx-border-radius: 2;
}
#title{
    -fx-font-size: 22px!important;
    -fx-border-color: rgba(88,88,88,0.5)!important;
    -fx-border-width: 1px 1px 1px 1px!important;
    -fx-border-radius: 2.5px!important;
}

